# Packages
*.tgz
*.md5
*.whl

#OS
.DS_Store

# Editors
.idea
.vscode

# gateway source simlink
gateway_src

# python compiled files
*.pyc
**/__pycache__/**

# virtual environments
*.venv/*

# test results
.coverage

